<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
		<java6processors enableDefault="true">
			<java6processor class="com.tsc9526.monalisa.core.processor.DBAnnotationProcessor"/>				 		
		</java6processors>
   </extension>
   
   <extension point="org.eclipse.jdt.ui.cleanUps">
      <cleanUp 
      		id="com.tsc9526.monalisa.plugin.eclipse.cleanup.SQLCleanUp" 
      		class="com.tsc9526.monalisa.plugin.eclipse.cleanup.SQLCleanUp">
      </cleanUp>
      
      <cleanUpOptionsInitializer
            class="com.tsc9526.monalisa.plugin.eclipse.cleanup.SQLCleanUpInitializer"
            cleanUpKind="saveAction">
      </cleanUpOptionsInitializer>
      
      <cleanUpConfigurationUI
            class="com.tsc9526.monalisa.plugin.eclipse.cleanup.SQLCleanUpUI"
            name="Monalisa"
            cleanUpKind="saveAction">
      </cleanUpConfigurationUI>       
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">      
      <page
            class="com.tsc9526.monalisa.plugin.eclipse.preferences.PreferencePage"
            id="com.tsc9526.monalisa.plugin.eclipse.preferences.PreferencePage"
            name="Monalisa">
      </page>       
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tsc9526.monalisa.plugin.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>	 

</plugin>
