<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="logger.file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/monalisa.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="100MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c] %m%n" />
		</layout>	
	</appender>
 
	<appender name="logger.console" class="org.apache.log4j.ConsoleAppender">		 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c{1}] %m%n" />
		</layout>		
	</appender>
	
	<root> 
		<level value="info" />
		<appender-ref ref="logger.console" />
		<appender-ref ref="logger.file" />
	</root>
</log4j:configuration>
